# Exercise 2

## String

#### Correct the error

In [1]:
print("Hello " + str(20))

Hello 20

#### Indexing

In [2]:
myString = "welcome to Python"  

#output = m

print(myString[5])
    
#output = n

print(myString[-1])

m
n

#### Slicing 
note : [Start:End:Steps]

In [3]:
myString = "welcome to Python"  

#output = to

print(myString[8:10])
    
#output = Python

print(myString[11:])

to
Python

#### Print odd Characters

In [4]:
myString = "welcome to Python" 
print(myString[::2])

wloet yhn

#### convert upper String to Lower

In [5]:
myString = "WELCOME TO PYTHON" 
print(myString.lower())

welcome to python

#### convert Lower String to Upper

In [6]:
myString = "welcome to Python" 
print(myString.upper())

WELCOME TO PYTHON

#### replace(Old Value, New Value, Count)

In [7]:
a = "Hello One Two Three One One Three"
# replace All ones to fives
print(a.replace("One","1",a.count("One")))
# replace Three to four
print(a.replace("Three","four"))

Hello 1 Two Three 1 1 Three
Hello One Two four One One four

#### count All ones in String

In [8]:
f="Hello One Two Three One One Three"
print(f.count("One"))

3

#### split all the words of the sentence

In [9]:
f="Hello-One-Two-Three-One-One-Three"
print(f.split("-"))

['Hello', 'One', 'Two', 'Three', 'One', 'One', 'Three']

#### Split the sentence into three parts

In [10]:
f="Hello-One-Two-Three-One-One-Three"
print(f.split("-",2))

['Hello', 'One', 'Two-Three-One-One-Three']

# Type Casting

#### Convert from float to integer

In [11]:
X = 14.5
print(int(X))

14

#### Convert from integer to String

In [12]:
X = 113
# code
print(str(X))

113