# Exercise 4

## Input

#### get input from user

In [1]:
# code
x = int(input("Enter Number : "))

Enter Number : 7

## If-Statement

#### Check the number is positive or negative

In [2]:
if(x>0):
    print("positive")
else:
    print("negative")

positive

#### Print even numbers

In [3]:
a = [1,2,3,4,5,6,7,8,9,10]
for x in range(len(a)):
    if a[x]%2==0:
        print(a[x])

2
4
6
8
10

#### Print the numbers that are divisible by 3

In [4]:
a = [1,2,3,4,5,6,7,8,9,10]
for x in range(len(a)):
    if a[x]%3==0:
        print(a[x])

3
6
9

#### Print the numbers that are divisible by 5 and even

In [5]:
b = [5,10,15,20,25,30,35,40,45,50]
for x in range(len(a)):
    if b[x]%5==0 and a[x]%2==0:
        print(b[x])

10
20
30
40
50

## Membership Operators

#### Check the word 'five' not found in list

In [6]:
b = [10,15,20,25,30,35,40,45,50]
# code
print(5 not in b)

True

#### Check the word "dog" in list

In [7]:
animals = ['cat','donkey','dog']
print("dog" in animals)

True

## Loops

#### Display numbers from 1 to 50

In [8]:
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

#### show odd numbers from 1 to 50

In [9]:
for i in range(1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

#### print the multiplication table

In [10]:
for x in range(1,13):
    print("-------- Table "+str(x)+" ----------")
    for y in range(1,13):
        print(str(x) + " * " + str(y) + ("  =  ") + str(x*y))

-------- Table 1 ----------
1 * 1  =  1
1 * 2  =  2
1 * 3  =  3
1 * 4  =  4
1 * 5  =  5
1 * 6  =  6
1 * 7  =  7
1 * 8  =  8
1 * 9  =  9
1 * 10  =  10
1 * 11  =  11
1 * 12  =  12
-------- Table 2 ----------
2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20
2 * 11  =  22
2 * 12  =  24
-------- Table 3 ----------
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
3 * 10  =  30
3 * 11  =  33
3 * 12  =  36
-------- Table 4 ----------
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
4 * 10  =  40
4 * 11  =  44
4 * 12  =  48
-------- Table 5 ----------
5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
5 * 10  =  50
5 * 11  =  55
5 * 12  =  60
-------- Table 6 ----------
6 * 1  =  6
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
6 * 10  =  60
6 * 11  =  66
6 * 12  =  72
-------- Table 7 ----------
7 * 1  =  7
7 * 2  =  14
7 * 3  =  21
7 * 4  =  28
7 * 5  =  35
7 * 6  =  42
7 * 7  =  49
7 * 8  =  56
7 * 9  =  63
7 * 10  =  70
7 * 11  =  77
7 * 12  =  84
-------- Table 8 ----------
8 * 1  =  8
8 * 2  =  16
8 * 3  =  24
8 * 4  =  32
8 * 5  =  40
8 * 6  =  48
8 * 7  =  56
8 * 8  =  64
8 * 9  =  72
8 * 10  =  80
8 * 11  =  88
8 * 12  =  96
-------- Table 9 ----------
9 * 1  =  9
9 * 2  =  18
9 * 3  =  27
9 * 4  =  36
9 * 5  =  45
9 * 6  =  54
9 * 7  =  63
9 * 8  =  72
9 * 9  =  81
9 * 10  =  90
9 * 11  =  99
9 * 12  =  108
-------- Table 10 ----------
10 * 1  =  10
10 * 2  =  20
10 * 3  =  30
10 * 4  =  40
10 * 5  =  50
10 * 6  =  60
10 * 7  =  70
10 * 8  =  80
10 * 9  =  90
10 * 10  =  100
10 * 11  =  110
10 * 12  =  120
-------- Table 11 ----------
11 * 1  =  11
11 * 2  =  22
11 * 3  =  33
11 * 4  =  44
11 * 5  =  55
11 * 6  =  66
11 * 7  =  77
11 * 8  =  88
11 * 9  =  99
11 * 10  =  110
11 * 11  =  121
11 * 12  =  132
-------- Table 12 ----------
12 * 1  =  12
12 * 2  =  24
12 * 3  =  36
12 * 4  =  48
12 * 5  =  60
12 * 6  =  72
12 * 7  =  84
12 * 8  =  96
12 * 9  =  108
12 * 10  =  120
12 * 11  =  132
12 * 12  =  144

#### Display All numbers in the list Expect 8

In [11]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in x:
    if(i==8):
        continue
    print(i)

1
2
3
4
5
6
7
9
10

#### show All numbers in the list up to 7

In [12]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in x:
    if(i==8):
        break
    print(i)

1
2
3
4
5
6
7