# Exercise 3

## Lists

#### Add "four" in the List

In [1]:
list1 = ["one","two","three"]
# code
list1.append("four")
list1

['one', 'two', 'three', 'four']

#### Extend list a by b

In [2]:
a = [1, 2, 3, 4]
b = ["A", "B", "C"]
# code
a.extend(b)
print(a)

[1, 2, 3, 4, 'A', 'B', 'C']

#### Enter "B" at the beginning of the list
output : ["B",1, 2, 3, 4, 5, "A"]

In [3]:
f = [1, 2, 3, 4, 5, "A"]
# code
f.insert(0,"B")
f

['B', 1, 2, 3, 4, 5, 'A']

#### reverse your List

In [4]:
z = [10, 1, 9, 80, 100, "A", 100]
z.reverse()
z

[100, 'A', 100, 80, 9, 1, 10]

## Sets

#### Correct the Error

In [5]:
set1 = {1, 2, 3, 4, 5, 6}
print(set1)

{1, 2, 3, 4, 5, 6}

#### Add "A" in the set

In [6]:
h = {1, 2, 3, 4}
# code
h.add("A")
h

{1, 2, 3, 4, 'A'}

## Dictionary

#### create one-Dimensional Dictionary

In [7]:
dic = {"name":"mohamed",
      "age":35}
dic

{'name': 'mohamed', 'age': 35}

#### create Two-Dimensional Dictionary

In [8]:
dic = {"one":{"name":"mohamed",
              "age":35},
       
       "two":{"name":"khaled",
              "age":19}}

dic

{'one': {'name': 'mohamed', 'age': 35}, 'two': {'name': 'khaled', 'age': 19}}

#### print keys and values for Dictionary

In [9]:
user = {
  "name": "ahmed",
  "age": 36,
  "country": "Egypt"
}

print(user.keys())
print(user.values())

dict_keys(['name', 'age', 'country'])
dict_values(['ahmed', 36, 'Egypt'])